.select-block label,
.input-block label {
    font-size: 1.4rem;
    color: var(--color-text-complement)
  }
  
.input-block input,
.select-block select {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
  }
.input-block{
    position: relative;
    /*desta forma a barrinha vai acompanhar o campo clicado */
}
.input-block:focus-within::after{
    /*o ::after é um pseudo elemento */
    content: "";
    /* Seleciona e procura o elemento dinamicamente */
    width: calc(100%-33.2rem); /*isso é para calcular o espaço da linha que fica no campo selecionado */
    height: 2px;
    background: var(--color-primary-light);
    left: 1.6rem;
    bottom: 0;
    position: absolute; /*coloca o elemento em um novo contexto */

}