#page-give-classes #container{
    height: 100vh; /* altura sempre vh */
    width: 100vw; /* sempre vw para a largura */
}


#page-give-classes main{
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
}
@media(min-width: 700px){
    #page-give-classes #container{
        max-width: 100vw;
    }
}